* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
/* #ece284; */
.page {
  --light: #ece284;
  --middle: #ffa500;
  --dark: #8b6f20;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}


/***********************
CONTAINER
***********************/
.container {
  margin: 0 auto;
  width: 1000px;
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
    min-width: 320px;
  }
}


/***********************
HEADER
***********************/
.header {
  height: 60px;
  background-color: var(--dark);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*** Header - Logo ***/
.logo-left {
  margin: 5px 0;
  width: 320px;
  height: 50px;
  background-image: url("../assets/svg/200tbgamestudio.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-right {
  margin: 5px 0;
  width: 150px;
  height: 50px;
  text-align: right;
  background-image: url("../assets/svg/squares.svg");
  background-size: contain;
  background-repeat: no-repeat;
}


/***********************
MAIN
***********************/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: calc(100vh - 120px);
  background-color: var(--light);
  background-size: cover;
  background-repeat: no-repeat;
}


.app {
  background: var(--light);
  width: 600px;
  margin: 0 auto;
}

.app__header {
  padding: 20px;
  text-align: center;
}

.app__content {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.app__footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 3px;
  color: #acacac;
  font-family: GothamPro,sans-serif;
  font-size: .8rem;
  font-weight: normal;
  line-height: 1.2rem;
}

.input input {
  display: block;
  width: 100%;
  max-height: 2.8rem;
  padding: .8rem 1rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4;
  color: #000;
  background: #fff none;
  border: 1px solid #999;
  border-radius: 5px;
}

.playground {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--middle);
  min-height: 300px;
  min-width: 300px;
  max-width: 300px;
  max-height: 300px;
}

.hide {
  display: none;
}


/***********************
BUTTON
***********************/
.btn {
  width: 100px;
  height: 50px;
  background-image: url("../assets/svg/start.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--dark);
  border: 0;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.btn:hover {
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
  transform: translateY(-1px);
}


/***********************
FOOTER
***********************/
.footer {
  height: 60px;
  background-color: var(--dark);
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*** Footer - Logo ***/
.footer-github {
  display: block;
  width: 400px;
  height: 50px;
  background-image: url("../assets/svg/2022frontend200tb.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-github:hover {
  color: var(--gold);
}

.footer-logo {
  display: block;
  margin: 5px 0;
  width: 135px;
  height: 50px;
  background-image: url("../assets/svg/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-logo:hover {
  filter: invert(22%) sepia(61%) saturate(4249%) hue-rotate(359deg) brightness(103%) contrast(104%);
}
