* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  --gold: #bdae82;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 60px);
  background-color: #555;
}





/***********************
FOOTER
***********************/
.footer {
  height: 60px;
  background-color: #000;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.footer-data {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  color: #fff
}

.footer-github {
  text-decoration: none;
  color: #fff;
  transition: color 0.5s;
}

.footer-github:hover {
  color: var(--gold);
}

.footer-logo {
  display: block;
  margin: 5px 0;
  width: 135px;
  height: 50px;
  background-image: url(../assets/svg/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: filter 0.5s;
}

.footer-logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}