* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  --gold: #bdae82;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 60px);
  background-color: #555;
}


/******************
PLAYER
******************/
.player {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 auto;
  width: 750px;
  background-color: #999;
}


/******************
VIDEO
******************/
.video {
  width: 100%;
}


/******************
PROGRESS
******************/
.progress {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20px;
  background-color: #000;
  cursor: ew-resize;
}

.current-time {
  width: 50%;
  background: #ffd900;
}


/******************
PLAYER CONTROLS
******************/
.player__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.play-btn {
  width: 40px;
  height: 40px;
  background-image: url(../assets/svg/play.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.5s;
}

.play-btn:hover {
  transform: rotate(360deg) scale(1.3);
}

.play-btn.pause {
  background-image: url(../assets/svg/pause.svg);
}

.time {
  font-size: 16px;
}

.speaker-btn {
  width: 40px;
  height: 40px;
  background-image: url(../assets/svg/speaker.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.5s;
}

.speaker-btn:hover {
  transform: rotate(360deg) scale(1.3);
}

.speaker-btn.mute {
  background-image: url(../assets/svg/mute.svg);
}

.player__range {
  width: 200px;
}


.skip-btn {
  max-width:50px;
  padding: 0;
  border:0;
  line-height:1;
  color:white;
  text-align: center;
  outline:0;
  cursor:pointer;
  background:none;
}


/***********************
FOOTER
***********************/
.footer {
  height: 60px;
  background-color: #000;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.footer-data {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  color: #fff
}

.footer-github {
  text-decoration: none;
  color: #fff;
  transition: color 0.5s;
}

.footer-github:hover {
  color: var(--gold);
}

.footer-logo {
  display: block;
  margin: 5px 0;
  width: 135px;
  height: 50px;
  background-image: url(../assets/svg/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: filter 0.5s;
}

.footer-logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}