:root {
  --bg-dark: #000;
  --gold: #bdae82;
  --white: #fff;
  --time: #999;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  background-color: var(--bg-dark);
}

.container {
  width: 1440px;
  margin: 0 auto;
}


/***********************
HEADER
***********************/
.header {
  height: 90px;
}

.header-container {
  display: flex;
  background: url('../assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}

.logo {
  margin: 20px;
  width: 50px;
  height: 50px;
  background-image: url('../assets/svg/header-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav {
  margin: 20px 0 20px auto;
  height: 50px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  margin: 0;
  padding: 0;
}

.nav-link {
  margin: 0 30px;
  text-decoration: none;  
  line-height: 50px;
  color: var(--white);
}

.switch-lng {
  margin: 20px 20px 20px 0;
  width: 70px;
  height: 50px;
  line-height: 50px;
  color: var(--white);
  font-family: 'Inter';
  font-weight: 700;
}

.en {
  color: var(--gold);
}


/***********************
MAIN
***********************/
.main {

}


/***********************
HERO
***********************/
.hero {
  padding: 160px 0 0 80px;
  height: 820px;
  background-color: lightgreen;
  background-image: url('../assets/img/header-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero-container {
  width: 500px;
  height: 330px;
  color: var(--white);
}

.hero-title {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
}

.hero-text {
  margin: 10px 30px 25px 0;
  line-height: 40px;
}

.btn {
  width: 220px;
  height: 55px;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  border: 2px solid var(--gold);
}

.btn-gold {
  color: var(--bg-dark);
  background-color: var(--gold);
}


/***********************
SKILLS
***********************/
.skills {
  padding: 100px 20px 0 20px;
  height: 482px;
}

.section-title {
  margin: 0 auto;
  width: 50%;
  height: 80px;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
  text-align: center;
}

.section-title-h2 {
  display: inline;
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: var(--gold);
  background-color: var(--bg-dark);
}

.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  height: 242px;
}

.skills-item {
  width: 320px;
  height: 240px;
  color: var(--white);
}

.skills-item {
  padding: 100px 20px 8px 20px;
  background-position: center top;
  background-repeat: no-repeat;
}

.skills-item:nth-child(1) {
  background-image: url('../assets/svg/skills-camera.svg');
  background-size: 62px 50px;  
}

.skills-item:nth-child(2) {
  background-image: url('../assets/svg/skills-video.svg');
  background-size: 60px 50px;  
}

.skills-item:nth-child(3) {
  background-image: url('../assets/svg/skills-retouch.svg');
  background-size: 66px 50px;  
}

.skills-item:nth-child(4) {
  background-image: url('../assets/svg/skills-mic.svg');
  background-size: 32px 50px;  
}

.skill-title {
  margin: 0 auto 20px;
  width: 280px;
  height: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.skill-text {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}


/***********************
PORTFOLIO
***********************/
.portfolio {
  padding: 100px 20px 0 20px;
  height: 1500px;
}

.portfolio-btns {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 60px auto;
  max-width: 895px;
}

.btn-black {
  color: var(--gold);
  background-color: var(--bg-dark);
}

.portfolio-items {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.portfolio-img {
  width: 450px;
  height: 560px;
}


/***********************
VIDEO
***********************/
.video {
  padding: 100px 20px 0 20px;
  height: 945px;
}

.video-player {
  margin-top: 60px;
  height: 705px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/img/video-player.jpg');
}

.play {
  position: absolute;
  width: 130px;
  height: 130px;
  background: none;
  border: none;
  background-image: url('../assets/svg/play.svg');
}

.play:hover {
  background-image: url('../assets/svg/play_hover.svg');
}


/***********************
PRICE
***********************/
.price {
  padding: 100px 20px 0 20px;
  height: 845px;
}

.price-items {
  display: flex;
  gap: 25px;
  margin-top: 60px;
}

.price-item {
  padding: 43px;
  width: 450px;
  height: 505px;
  border: 3px solid var(--gold);
  background-color: #333;
}

.card-title {
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  color: var(--white);
  background-color: #555;
}

.card-price {
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: var(--gold);
  background-color: #000;
}

.card-frame {
  background-color: #555;
}

.card-text {
  display: block;
  font-size: 18px;
  line-height: 36px;
  color: var(--white);
  text-align: center;
}

/***********************
CONTACTS
***********************/
.contacts {
  height: 700px;
  background-color: #999;
}


/***********************
FOOTER
***********************/
.footer {
  background-color: lightgreen;
}

.footer-container {
  height: 150px;
  background-color: green;
}