:root {
  --bg-dark: #000;
  --gold: #bdae82;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: var(--bg-dark);
}

.container {
  margin: 0 auto;
  width: 1440px;
}

@media (max-width: 1440px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    min-width: 320px;
  }
}


/***********************
HEADER
***********************/
.header {
  margin-bottom: -90px;
  height: 90px;
}

.header__content {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: url('../assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}

@media (max-width: 768px) {
  .header__content {
    padding: 20px 64px 0 60px;
    background-size: cover;
  }
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url('../assets/svg/header-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: filter 0.5s;
}

.logo:hover {
  cursor: pointer;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.header__navigation {
  margin: 0 0 0 auto;
  width: 500px;
  height: 50px;
}

@media (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 0 30px;
  list-style: none;
}

.nav-item {
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
  color: var(--white);
  transition: color 0.5s;
}

.nav-link:hover {
  color: var(--gold);  
}

.header__switch {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  width: 70px;
  font-size: 20px;
  line-height: 50px;
  color: var(--white);
  font-family: 'Inter';
  font-weight: 700;
}

@media (max-width: 768px) {
  .header__switch {
    display: flex;
    flex-direction: row;
    margin: 0 2px 0 auto;
    width: 100px;
  }

}


.switch {
  text-decoration: none;
  color: var(--white);
  transition: color 0.5s;
}

.switch:hover {
  color: var(--gold);
}

.switch_gold {
  color: var(--gold);
}

.switch-div {
  margin: 0 0px;
}

@media (max-width: 768px) {
  .switch-div {
    margin-right: 9px;
  }
}


/***********************
BURGER
***********************/
.burger-menu {
  display: none;
}

@media (max-width: 768px) {
  .burger-menu  {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 50px;
    border: 0;
    cursor: pointer;
    background: transparent;
  }

  .burger-menu span {
    position: relative;
    display: block;
    width: 50px;
    height: 3px;
    background-color: #fff;
  }

  .burger-menu span:nth-child(1) {
    top: 0;
    margin-bottom: 10px;
    transform: translateX(0) translateY(0);
    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  }

  .burger-menu span:nth-child(2) {
    margin-bottom: 9px;
    opacity: 1;
    transform: translateX(0);
  }

  .burger-menu span:last-child {
    transform: translateX(0) translateY(0);
    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
  }

  .burger-menu.open span:nth-child(1) {
    margin-top: 0;
    width: 60px;
    height: 2px;
    transform: translateX(-5px) translateY(-1px) rotate(45deg);
    transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
  }

  .burger-menu.open span:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.open span:last-child {
    margin-top: -28px;
    width: 60px;
    height: 2px;
    transform: translateX(-5px) translateY(2px) rotate(-45deg);
    transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
  }
  
  .header__navigation {
    display: block;
    position: absolute;
    padding: 134px 0 0 127px;
    width: 620px;
    height: 1024px;
    top: 0;
    right: -620px;
    background-color: #000;
    color: fff;
    transition: all 2s;
}

  .header__navigation.open {
    right: 0;
  }

  .nav {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 429px;
    list-style-type: none;
  }

  .nav-item {
    margin: 0;
    padding: 0;
  }

  .nav-link {
    font-family: Inter, sans-serif;
    font-size: 35px;
    line-height: 72px;
    text-decoration: none;
  }
}

@media (max-width: 700px) {
  .header__navigation.open {
    width: 100%;
  }
}



/***********************
HERO
***********************/
.hero {
  padding: 250px 0 0 80px;
  height: 910px;
  background-image: url('../assets/img/header-bg.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .hero {
    padding: 168px 0 0 60px;
    height: 590px;
    background-position: -5px -30px;
    background-size: auto 620px;
  }
}

.hero__content {
  width: 500px;
  height: 330px;
  color: var(--white);
}

@media (max-width: 768px) {
  .hero__content {
    width: 390px;
  }
}

@media (max-width: 460px) {
  .hero__content {
    width: 90%;
  }
}

.hero-title {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
}

@media (max-width: 768px) {
  .hero-title {
    width: 165px;
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
  }
}

.hero-text {
  margin: 10px 30px 25px 0;
  font-size: 20px;
  line-height: 40px;
}

@media (max-width: 768px) {
  .hero-text {
    margin: 20px 0 59px;
    line-height: 24px;
  }
}

.btn {
  width: 220px;
  height: 55px;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  border: 2px solid var(--gold);
  transition: color 0.5s;
}

.btn:hover {
  cursor: pointer;
  color: var(--white);
}

.btn_gold {
  color: var(--bg-dark);
  background-color: var(--gold);
}


/***********************
SKILLS
***********************/
.skills {
  padding: 100px 20px 0 20px;
}

@media (max-width: 768px) {
  .skills {
    padding: 80px 20px 13px;
  }
}

.section-title {
  margin: 0 auto;
  width: 50%;
  height: 80px;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
  text-align: center;
}

.section-title-h2 {
  display: inline;
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: var(--gold);
  background-color: var(--bg-dark);
}

@media (max-width: 768px) {
  .section-title-h2 {
    font-size: 32px;
  }
}

.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 36px;
  margin-top: 60px;
  padding-bottom: 2px;
}

@media (max-width: 1440px) {
  .skills-items {
    justify-content: space-around;
    margin-top: 36px;
  }
}

@media (max-width: 768px) {
  .skills-items {
    justify-content: center;
    gap: 36px 44px;
    margin-top: 36px;
    margin-left: -4px;
    padding: 9px 0 27px;
  }
}

.skills-item {
  padding: 100px 20px 8px;
  width: 320px;
  height: 240px;
  color: var(--white);
  background-position: center top;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .skills-item {
    padding: 80px 10px 40px;
    width: 300px;
    height: 224px;
  }
}

.skills-item:nth-child(1) {
  background-image: url('../assets/svg/skills-camera.svg');
  background-size: 62px 50px;  
}

.skills-item:nth-child(2) {
  background-image: url('../assets/svg/skills-video.svg');
  background-size: 60px 50px;  
}

.skills-item:nth-child(3) {
  background-image: url('../assets/svg/skills-retouch.svg');
  background-size: 66px 50px;  
}

.skills-item:nth-child(4) {
  background-image: url('../assets/svg/skills-mic.svg');
  background-size: 32px 50px;  
}

.skill-title {
  margin: 0 auto 22px;
  width: 280px;
  height: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.skill-text {
  width: 280px;
  height: 40px;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

@media (max-width: 768px) {
  .skill-text {
    height: 44px;
    line-height: 21px;
  }
}


/***********************
PORTFOLIO
***********************/
.portfolio {
  padding: 100px 20px 0 20px;
}

@media (max-width: 768px) {
  .portfolio {
    padding-top: 80px;
  }
}

.portfolio-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 60px auto;
  max-width: 895px;
}

@media (max-width: 768px) {
  .portfolio-btns {
    margin: 50px auto 60px;
    max-width: 500px;
  }
}

.btn_black {
  color: var(--gold);
  background-color: var(--bg-dark);
}

.portfolio-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.portfolio-img {
  width: 450px;
  height: 560px;
}


/***********************
VIDEO
***********************/
.video {
  padding: 100px 20px 0 20px;
}

@media (max-width: 768px) {
  .video {
    padding: 80px 0 0 0;
    height: 628px;
  }
}

.video-player {
  margin-top: 60px;
  height: 705px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/img/video-bg.jpg');
  background-position: 0;
  background-size: auto 705px;
}

@media (max-width: 768px) {
  .video-player {
    margin-top: 50px;
    height: 418px;
    background-image: url('../assets/img/video-768.jpg');
    background-size: cover;
    background-position: center;
  }
}

.play {
  position: absolute;
  width: 130px;
  height: 130px;
  background: none;
  border: none;
  background-image: url('../assets/svg/play.svg');
  transition: filter 0.5s;
}

@media (max-width: 768px) {
  .play {
    width: 75px;
    height: 75px;
    background-image: url('../assets/svg/play-768.svg');
  }
}

.play:hover {
  cursor: pointer;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}


/***********************
PRICE
***********************/
.price {
  padding: 100px 20px 100px 20px;
}

@media (max-width: 768px) {
  .price {
    padding: 80px 20px 80px 20px;
  }
}

.price-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .price-items {
    gap: 50px;
    margin-top: 50px;
  }
}

.price-item {
  display: flex;
  flex-direction: column;
  padding: 41px 0;
  width: 450px;
  height: 505px;
  border: 3px solid var(--gold);
}

@media (max-width: 768px) {
  .price-item {
    width: 420px;
    height: 505px;
  }
}

.card-title {
  margin: 0 auto;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  color: var(--white);
}

.card-price {
  margin: 20px auto;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: var(--gold);
}

.card-frame {
  margin-bottom: 40px;
}

.card-text {
  display: block;
  font-size: 18px;
  line-height: 36px;
  color: var(--white);
  text-align: center;
}

.card-btn {
  margin: 0 auto;
}


/***********************
CONTACTS
***********************/
.contacts {
  display: flex;
  justify-content: end;
  height: 700px;
  background-image: url('../assets/img/contacts-bg.jpg');
  background-size: auto 700px;
  background-position: center center;
}

@media (max-width: 768px) {
  .contacts  {
    height: 600px;
    background-size: auto 600px;
  }
}

.contacts-container {
  margin-top: 60px;
  margin-right: 20px;
  width: 450px;
  height: 445px;
}

@media (max-width: 768px) {
  .contacts-container {
    margin: 60px auto;
    width: 450px;
    height: 445px;
  }
}

.contacts-title {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: var(--gold);
}

@media (max-width: 768px) {
  .contacts-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
    text-align: center;
  }
}

.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.contacts-email {
  padding-left: 18px;
  height: 50px;
  border: 2px solid var(--gold);
  background: rgba(0, 0, 0, 0.5);
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--gold);
}

.contacts-email::placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--gold);
}

.contacts-tel {
  padding-left: 18px;
  height: 50px;
  border: 2px solid var(--gold);
  background: rgba(0, 0, 0, 0.5);
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--gold);
}

.contacts-tel::placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--gold);
}

.contacts-message {
  margin-bottom: 10px;
  padding-top: 3px;
  padding-left: 18px;
  height: 100px;
  border: 2px solid var(--gold);
  resize: none;
  background: rgba(0, 0, 0, 0.5);
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--gold);
}

.contacts-message::placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--gold);
}

@media (max-width: 768px) {
  .contacts .btn {
    align-self: center;
  }
}


/***********************
FOOTER
***********************/
.footer {
  height: 150px;
}

@media (max-width: 768px) {
  .footer {
    padding: 28px;
    height: 190px;
  }
}

.footer-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  height: 150px;
}

@media (max-width: 768px) {
  .footer-container {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
    margin: 0 auto;
    padding: 0;
    width: 210px;
    height: 134px;
  }
}

.footer-data {
  display: flex;
  justify-content: start;
  gap: 20px;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: var(--white);
}

@media (max-width: 768px) {
  .footer-data {
    justify-content: center;
    width: 210px;
    font-size: 20px;
    line-height: 24px;
  }

  .footer-copyright {
    transform: translateX(-3px);
  }

  .footer-year {
    transform: translateX(-3px);

  }
}

.footer-github {
  text-decoration: none;
  color: var(--white);
  transition: color 0.5s;
}

.footer-github:hover {
  color: var(--gold);
}

.footer-rss {
  font-family: Inter;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  color: var(--white);
  transition: color 0.5s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .footer-rss {
    position: static;
    transform: translateX(0px);
    transform: translateY(-2px);
    line-height: 24px;
  }
}

.footer-rss:hover {
  color: var(--gold);
}

.social-list {
  width: 188px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .social-list {
    justify-content: center;
    margin: auto;
  }
}

.social-item {
  margin: 0;
  padding: 0;
  transition: filter 0.5s;
}

.social-item:hover {
  cursor: pointer;
  filter: invert(26%) sepia(7%) saturate(1355%) hue-rotate(7deg) brightness(95%) contrast(88%);
}

.social-item:nth-child(1) {
  background-image: url('../assets/svg/footer-inst.svg');
  background-size: 32px 32px;  
}

.social-item:nth-child(2) {
  background-image: url('../assets/svg/footer-fb.svg');
  background-size: 32px 32px;  
}

.social-item:nth-child(3) {
  background-image: url('../assets/svg/footer-tw.svg');
  background-size: 32px 32px;  
}

.social-item:nth-child(4) {
  background-image: url('../assets/svg/footer-pinterest.svg');
  background-size: 32px 32px;  
}

.social-link {
  display: block;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  text-decoration: none; 
}
