:root {
  --bg-dark: #000;
  --gold: #bdae82;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  background-color: var(--bg-dark);
}

.container {
  width: 1440px;
  margin: 0 auto;
}


/***********************
HEADER
***********************/
.header {
  height: 90px;
}

.header-container {
  display: flex;
  padding: 20px;
  background: url('../assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url('../assets/svg/header-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: filter 0.5s;
}

.logo:hover {
  cursor: pointer;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav {
  margin: 0 0 0 auto;
  width: 500px;
  height: 50px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 0 30px;
  list-style: none;
}

.nav-item {
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;  
  line-height: 50px;
  color: var(--white);
  transition: color 0.5s;
}

.nav-link:hover {
  color: var(--gold);  
}

.switch-lng {
  display: flex;
  justify-content: space-between;
  width: 70px;
  font-size: 20px;
  line-height: 50px;
  color: var(--white);
  font-family: 'Inter';
  font-weight: 700;
}

.switch-en {
  text-decoration: none;
  color: var(--gold);
}

.switch-ru {
  text-decoration: none;
  color: var(--white);
  transition: filter 0.5s;
}

.switch-ru:hover {
  color: var(--gold);
}


/***********************
HERO
***********************/
.hero {
  padding: 160px 0 0 80px;
  height: 820px;
  background-image: url('../assets/img/header-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero-container {
  width: 500px;
  height: 330px;
  color: var(--white);
}

.hero-title {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
}

.hero-text {
  margin: 10px 30px 25px 0;
  line-height: 40px;
}

.btn {
  width: 220px;
  height: 55px;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  border: 2px solid var(--gold);
  transition: color 0.5s;
}

.btn:hover {
  cursor: pointer;
  color: var(--white);
}

.btn-gold {
  color: var(--bg-dark);
  background-color: var(--gold);
}


/***********************
SKILLS
***********************/
.skills {
  padding: 100px 20px 0 20px;
  height: 482px;
}

.section-title {
  margin: 0 auto;
  width: 50%;
  height: 80px;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
  text-align: center;
}

.section-title-h2 {
  display: inline;
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: var(--gold);
  background-color: var(--bg-dark);
}

.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  height: 242px;
}

.skills-item {
  width: 320px;
  height: 240px;
  color: var(--white);
}

.skills-item {
  padding: 100px 20px 8px 20px;
  background-position: center top;
  background-repeat: no-repeat;
}

.skills-item:nth-child(1) {
  background-image: url('../assets/svg/skills-camera.svg');
  background-size: 62px 50px;  
}

.skills-item:nth-child(2) {
  background-image: url('../assets/svg/skills-video.svg');
  background-size: 60px 50px;  
}

.skills-item:nth-child(3) {
  background-image: url('../assets/svg/skills-retouch.svg');
  background-size: 66px 50px;  
}

.skills-item:nth-child(4) {
  background-image: url('../assets/svg/skills-mic.svg');
  background-size: 32px 50px;  
}

.skill-title {
  margin: 0 auto 20px;
  width: 280px;
  height: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.skill-text {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}


/***********************
PORTFOLIO
***********************/
.portfolio {
  padding: 100px 20px 0 20px;
  height: 1500px;
}

.portfolio-btns {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 60px auto;
  max-width: 895px;
}

.btn-black {
  color: var(--gold);
  background-color: var(--bg-dark);
}

.portfolio-items {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.portfolio-img {
  width: 450px;
  height: 560px;
}


/***********************
VIDEO
***********************/
.video {
  padding: 100px 20px 0 20px;
  height: 945px;
}

.video-player {
  margin-top: 60px;
  height: 705px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/img/video-bg.jpg');
}

.play {
  position: absolute;
  width: 130px;
  height: 130px;
  background: none;
  border: none;
  background-image: url('../assets/svg/play.svg');
  transition: filter 0.5s;
}

.play:hover {
  cursor: pointer;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}


/***********************
PRICE
***********************/
.price {
  padding: 100px 20px 0 20px;
  height: 845px;
}

.price-items {
  display: flex;
  gap: 25px;
  margin-top: 60px;
}

.price-item {
  display: flex;
  flex-direction: column;
  padding: 41px 0;
  width: 450px;
  height: 505px;
  border: 3px solid var(--gold);
}

.card-title {
  margin: 0 auto;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  color: var(--white);
}

.card-price {
  margin: 20px auto;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: var(--gold);
}

.card-frame {
  margin-bottom: 40px;
}

.card-text {
  display: block;
  font-size: 18px;
  line-height: 36px;
  color: var(--white);
  text-align: center;
}

.card-btn {
  margin: 0 auto;
}


/***********************
CONTACTS
***********************/
.contacts {
  display: flex;
  justify-content: end;
  height: 700px;
  background-image: url('../assets/img/contacts-bg.jpg');
  background-size: auto 700px;
  background-position: center center;
}

.contacts-container {
  margin-top: 60px;
  margin-right: 20px;
  width: 450px;
  height: 445px;
}

.contacts-title {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: var(--gold);
}

.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.contacts-email {
  padding-left: 18px;
  height: 50px;
  border: 2px solid var(--gold);
  background: rgba(0, 0, 0, 0.5);
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--gold);
}

.contacts-email::placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--gold);
}

.contacts-tel {
  padding-left: 18px;
  height: 50px;
  border: 2px solid var(--gold);
  background: rgba(0, 0, 0, 0.5);
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--gold);
}

.contacts-tel::placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--gold);
}

.contacts-message {
  margin-bottom: 10px;
  padding-top: 3px;
  padding-left: 18px;
  height: 100px;
  border: 2px solid var(--gold);
  resize: none;
  background: rgba(0, 0, 0, 0.5);
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--gold);
}

.contacts-message::placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--gold);
}


/***********************
FOOTER
***********************/
.footer {
  height: 150px;
}

.footer-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  height: 150px;
}

.footer-data {
  display: flex;
  justify-content: start;
  gap: 20px;
  height: 50px;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: var(--white);
}

.footer-github {
  text-decoration: none;
  color: var(--white);
  transition: color 0.5s;
}

.footer-github:hover {
  color: var(--gold);
}

.footer-rss {
  height: 50px;
  font-family: inherit;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  color: var(--white);
  transition: color 0.5s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer-rss:hover {
  color: var(--gold);
}

.social-list {
  width: 188px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

.social-item {
  margin: 0;
  padding: 0;
  transition: filter 0.5s;
}

.social-item:hover {
  cursor: pointer;
  filter: invert(26%) sepia(7%) saturate(1355%) hue-rotate(7deg) brightness(95%) contrast(88%);
}

.social-item:nth-child(1) {
  background-image: url('../assets/svg/footer-inst.svg');
  background-size: 32px 32px;  
}

.social-item:nth-child(2) {
  background-image: url('../assets/svg/footer-fb.svg');
  background-size: 32px 32px;  
}

.social-item:nth-child(3) {
  background-image: url('../assets/svg/footer-tw.svg');
  background-size: 32px 32px;  
}

.social-item:nth-child(4) {
  background-image: url('../assets/svg/footer-pinterest.svg');
  background-size: 32px 32px;  
}

.social-link {
  display: block;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  text-decoration: none; 
}
