* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  font-size: 24px;
  background-image: url(../assets/img/dontstartnow.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.blur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}


/******************
CARD
******************/
.card {
  display: flex;
  flex-direction: column;
  width: 334px;
  height: 500px;
  border-radius: 10px;
  background-color: #555;
  position: relative;
  top: calc(50% - 500px / 2);
  left: calc(50% - 334px / 2);
}


/******************
CARD PHOTO
******************/
.card-photo {
  border-radius: 10px 10px 0 0;
}


/******************
CARD PLAYER
******************/
.card-player {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

.player-time {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.play-btn {
  width: 40px;
  cursor: pointer;
}

.current-time {
  width: 150px;
}

.player-volume {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.speaker-btn {
  width: 40px;
  cursor: pointer;
}

.volume-nam {
  width: 150px;
}

.player-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}