* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  width: 100vw;
  height: calc(90vh);
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  background-image: url(../assets/img/beyonce_lemonade.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.blur {
  width: 100%;
  backdrop-filter: blur(5px);
}


/******************
CARD
******************/
.card {
  display: flex;
  flex-direction: column;
  width: 334px;
  height: 550px;
  border-radius: 10px;
  background-color: #555;
  position: relative;
  top: calc(50% - 500px / 2);
  left: calc(50% - 334px / 2);
}


/******************
CARD PHOTO
******************/
.card-photo {
  border-radius: 10px 10px 0 0;
}


/******************
CARD PLAYER
******************/
.card-player {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  padding: 20px;
}

/*player-time*/
.player-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.play-btn {
  width: 40px;
  height: 40px;
  background-image: url(../assets/svg/play.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.play-btn.pause {
  background-image: url(../assets/svg/pause.svg);
}

.time {
  text-align: center;
  font-size: 16px;
}

.current-time {
  width: 150px;
}

/*player-volume*/
.player-volume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.speaker-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url(../assets/svg/speaker.svg);
  background-repeat: no-repeat;
}

.speaker-btn.mute {
  background-image: url(../assets/svg/mute.svg);
}

.volume-num {
  width: 50px;
}

.volume-range {
  width: 150px;
}

/*player-controls*/
.player-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-btn {
  width: 40px;
  cursor: pointer;
  transform: rotate(180deg);
}

.title {
  font-size: 20px;
}

.right-btn {
  width: 40px;
  cursor: pointer;
}


/***********************
FOOTER
***********************/
.footer {
  height: 60px;
  background-color: #000;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.footer-data {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  color: #fff
}

.footer-github {
  text-decoration: none;
  color: #fff;
}

.footer-github:hover {
  color: green;
}

.footer-logo {
  display: block;
  margin: 5px 0;
  width: 135px;
  height: 50px;
  background-image: url(../assets/svg/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}