* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  font-size: 24px;
  background-image: url(../assets/img/dontstartnow.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.blur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}


/******************
CARD
******************/
.card {
  display: flex;
  flex-direction: column;
  width: 334px;
  height: 550px;
  border-radius: 10px;
  background-color: #555;
  position: relative;
  top: calc(50% - 500px / 2);
  left: calc(50% - 334px / 2);
}


/******************
CARD PHOTO
******************/
.card-photo {
  border-radius: 10px 10px 0 0;
}


/******************
CARD PLAYER
******************/
.card-player {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  padding: 20px;
}

/*player-time*/
.player-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.play-btn {
  width: 40px;
  height: 40px;
  background-image: url(../assets/svg/play.svg);
  cursor: pointer;
}

.play-btn.pause {
  background-image: url(../assets/svg/pause.svg);
}

.time {
  text-align: center;
  font-size: 14px;
}

.current-time {
  width: 150px;
}

/*player-volume*/
.player-volume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.speaker-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url(../assets/svg/speaker.svg);
}

.speaker-btn.mute {
  background-image: url(../assets/svg/mute.svg);
}

.volume-num {
  width: 50px;
}

.volume-range {
  width: 150px;
}

/*player-controls*/
.player-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-btn {
  width: 40px;
  cursor: pointer;
  transform: rotate(180deg);
}

.right-btn {
  width: 40px;
  cursor: pointer;
}
